In [3]:
import calendar
import datetime

In [10]:
calendar.weekday(datetime.date(2022,12,29).year, datetime.date(2022,12,29).month, datetime.date(2022,12,29).day)

3

In [8]:
# Returns weekday of first day of the month and number of days in month, for the specified year and month.
calendar.monthrange(2022,12)

(3, 31)

In [9]:
calendar.monthcalendar(2022, 12)

[[0, 0, 0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9, 10, 11],
 [12, 13, 14, 15, 16, 17, 18],
 [19, 20, 21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30, 31, 0]]

In [15]:
datetime.date(2022,12,29) - datetime.timedelta(3) - datetime.timedelta(7)

datetime.date(2022, 12, 19)

In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('Docs\\Base\\Reports\\raw\\report.csv')

In [11]:
data.head()

         date  file_exist theme epic project task  pom_num
0  2010-01-01       False   NaN  NaN     NaN  NaN        0
1  2010-01-02       False   NaN  NaN     NaN  NaN        0
2  2010-01-03       False   NaN  NaN     NaN  NaN        0
3  2010-01-04       False   NaN  NaN     NaN  NaN        0
4  2010-01-05       False   NaN  NaN     NaN  NaN        0

In [13]:
data.loc[data['file_exist']==True]

,date,file_exist,theme,epic,project,task,pom_num
4742,2022-12-26,True,HardSkills,Data engineering,Fundamentals of DE,NaN,2
4743,2022-12-26,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание базовых классов,10
4744,2022-12-26,True,УИМ,Научная работа,NaN,NaN,1
4745,2022-12-26,True,ТехПис,ЦИТИС,Сервис приема,Руководство администратора ООВО,1
4746,2022-12-26,True,Уют,Ванная,Закрепил смеситель на раковине,NaN,1
4747,2022-12-27,True,HardSkills,Data engineering,Fundamentals of DE,NaN,2
4748,2022-12-27,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание логеров,2
4749,2022-12-27,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание парсера командной строки,2
4750,2022-12-27,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание парсера файла настроек,3
4751,2022-12-27,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание обработчика задачи,2
4752,2022-12-27,True,Семья и близкие,Брижан Александр,Созвон,NaN,1
4753,2022-12-27,True,Семья и близкие,Матлашов Владимир,Встреча,NaN,4
4754,2022-12-28,True,HardSkills,Data engineering,Fundamentals of DE,NaN,1
4755,2022-12-28,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание обработчика задачи,6
4757,2022-12-30,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание обработчика задачи,1
4758,2022-12-30,True,Семья и близкие,Вова,Лечение зубов,NaN,4
4759,2023-01-01,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание обработчика задачи,1
4760,2023-01-01,True,Проекты,Личная эффективность,[[Report Maker 2.0]],Создание менеджера сценария,1